<?xml version="1.0" encoding="utf-8"?>
<Settings>
	
 <VisibleRows>4</VisibleRows>
 <GridHeight>250</GridHeight>
 <Lang/>
 <Startup>-2, -2</Startup>
 <LessDays>7</LessDays>
 <CheckDates>False</CheckDates>
 <CheckUpdates>True</CheckUpdates>
 <AlsoHidden>False</AlsoHidden>
 <AlsoSystem>False</AlsoSystem>

 <StartPaths0/>
 <StartPaths1/>
 <StartPaths2/>
 <StartPaths3/>
 <StartPaths4/>
 <StartPaths5/>
 <StartPaths6/>
 <StartPaths7/>
 <StartPaths8/>
 <StartPaths9/>

 <DestPaths0/>
 <DestPaths1/>
 <DestPaths2/>
 <DestPaths3/>
 <DestPaths4/>
 <DestPaths5/>
 <DestPaths6/>
 <DestPaths7/>
 <DestPaths8/>
 <DestPaths9/>

 <Masks0>*</Masks0>
 <Masks1>*</Masks1>
 <Masks2>*</Masks2>
 <Masks3>*</Masks3>
 <Masks4>*</Masks4>
 <Masks5>*</Masks5>
 <Masks6>*</Masks6>
 <Masks7>*</Masks7>
 <Masks8>*</Masks8>
 <Masks9>*</Masks9>

 <TopOnlys0>False</TopOnlys0>
 <TopOnlys1>False</TopOnlys1>
 <TopOnlys2>False</TopOnlys2>
 <TopOnlys3>False</TopOnlys3>
 <TopOnlys4>False</TopOnlys4>
 <TopOnlys5>False</TopOnlys5>
 <TopOnlys6>False</TopOnlys6>
 <TopOnlys7>False</TopOnlys7>
 <TopOnlys8>False</TopOnlys8>
 <TopOnlys9>False</TopOnlys9>

 <NumBackups0>0</NumBackups0>
 <NumBackups1>0</NumBackups1>
 <NumBackups2>0</NumBackups2>
 <NumBackups3>0</NumBackups3>
 <NumBackups4>0</NumBackups4>
 <NumBackups5>0</NumBackups5>
 <NumBackups6>0</NumBackups6>
 <NumBackups7>0</NumBackups7>
 <NumBackups8>0</NumBackups8>
 <NumBackups9>0</NumBackups9>

 </Settings>
